.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;

  .appBarWrapper {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    max-width: 1000px;

    .menuButton {
      margin-right: 1em;
    }
  }
}
