.heroContainer {
  width: 100%;
  height: 40vh;
  background-color: black;
  display: flex;
  justify-content: center;
  .contentContainer {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    background-color: grey;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
